body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.gameTable {
  display: flex;
}

.tableRow {
  display: table;
}

.restartButton {
  position: relative;
  top: 10px;
  width: 100%;
  font-weight: bold;
}